
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h2{
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}
p{
  font-family: inter;
  color: gray;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header .container {
  padding: 20px 0;
  border: 1px solid #ccc;
  text-align: center;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-container > *{
  padding: 20px;
  border: 1px solid #ccc;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 12px;
}

.links a {
  text-decoration: none;
  color: indigo;
}
article{
  grid-column: span 3;
}
article img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
article h2 {
  margin: 10px 0;
}

aside .post-info h4{
  margin: 20px 0 10px;
}

footer .container {
  padding: 20px 0;
  border: 1px solid #ccc;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .categories{
    grid-column: span 5;
  }
  .categories .links {
    display: inline-block;
  }
  .categories .links a{
    margin-right: 10px;
  }
  article{
    grid-column: span 4;
  }
  /* .info-sidebar{
    grid-column: span 1;
  } */
}

@media screen and (max-width: 800px) {
  .categories{
    grid-column: span 5;
  }
  .categories .links {
    display: inline-block;
  }
  .categories .links a{
    margin-right: 10px;
  }
  article{
    grid-column: span 5;
  }
  .info-sidebar{
    grid-column: span 5;
  }
}